<?xml version="1.0" encoding="utf-8"?>
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">




    <ros2_control name="IMUSystem" type="system">
        <hardware>
            <plugin>imu_hardware_interface/IMUHardwareInterface</plugin>
            <param name="imu_topic">/imu</param>
        </hardware>
        <sensor name="imu_sensor">
            <state_interface name="orientation.x"/>
            <state_interface name="orientation.y"/>
            <state_interface name="orientation.z"/>
            <state_interface name="orientation.w"/>
            <state_interface name="angular_velocity.x"/>
            <state_interface name="angular_velocity.y"/>
            <state_interface name="angular_velocity.z"/>
            <state_interface name="linear_acceleration.x"/>
            <state_interface name="linear_acceleration.y"/>
            <state_interface name="linear_acceleration.z"/>
        </sensor>
    </ros2_control>


    <!-- <ros2_control name="jetson_interface" type="system">
        <hardware>
            <plugin>jetson_interface/JetsonGPIOInterface</plugin>
            <param name="gpio_pin">32</param>
        </hardware>
    </ros2_control> -->




    <ros2_control name="quadruped_hardware/CANMotorDriver_FRH" type="system" > 
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">fr_hip</param> 
            <param name="can_bus" >can0</param>
            <param name="can_id" >10</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>     
            <param name="frequency" >50.0</param>   
            <param name="zero_position_offset" >0</param>
            <param name="min_position_limit" >-3.13</param>
            <param name="max_position_limit" >0.531</param>

        </hardware>
        <joint name="fr_hip">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control>


    <ros2_control name="quadruped_hardware/CANMotorDriver_FRK" type="system">
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">fr_knee</param> 
            <param name="can_bus" >can0</param>
            <param name="can_id" >11</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>   
            <param name="frequency" >50.0</param>   
            <param name="zero_position_offset" >0</param> 
            <param name="min_position_limit" >-4.0</param>
            <param name="max_position_limit" >0.2</param>
        </hardware>
        <joint name="fr_knee">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control> 

    <ros2_control name="quadruped_hardware/CANMotorDriver_RRH" type="system" >
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">rr_hip</param> 
            <param name="can_bus" >can0</param>
            <param name="can_id" >12</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>
            <param name="frequency" >50.0</param>     
            <param name="zero_position_offset" >0</param> 
            <param name="min_position_limit" >-0.531</param>
            <param name="max_position_limit" >3.131</param>

        </hardware>
        <joint name="rr_hip">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control>

    <ros2_control name="quadruped_hardware/CANMotorDriver_RRK" type="system"  >
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">rr_knee</param> 
            <param name="can_bus" >can0</param>
            <param name="can_id" >13</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>   
            <param name="frequency" >50.0</param> 
            <param name="zero_position_offset" >0</param>
            <param name="min_position_limit" >-0.02</param>
            <param name="max_position_limit" >4.0</param> 

        </hardware>
        <joint name="rr_knee">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control>

    <!-- <ros2_control name="quadruped_hardware/CANMotorDriver_FLH" type="system">
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">fl_hip</param> 
            <param name="can_bus" >can1</param>
            <param name="can_id" >14</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>  
            <param name="frequency" >50.0</param>    
            <param name="zero_position_offset" >0</param> 
            <param name="min_position_limit" >-0.53</param>
            <param name="max_position_limit" >3.131</param>

        </hardware>
        <joint name="fl_hip">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control> -->
    
    <!-- <ros2_control name="quadruped_hardware/CANMotorDriver_FLK" type="system">
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">fl_knee</param> 
            <param name="can_bus" >can1</param>
            <param name="can_id" >15</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>   
            <param name="frequency" >50.0</param>  
            <param name="zero_position_offset" >0</param>
            <param name="min_position_limit" >-0.02</param>
            <param name="max_position_limit" >4.0</param> 

        </hardware>
        <joint name="fl_knee">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control>  -->

    <!-- <ros2_control name="quadruped_hardware/CANMotorDriver_RLH" type="system"  >
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">rl_hip</param> 
            <param name="can_bus" >can1</param>
            <param name="can_id" >16</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param>    
            <param name="frequency" >50.0</param> 
            <param name="zero_position_offset" >0</param>
            <param name="min_position_limit" >-3.131</param>
            <param name="max_position_limit" >0.531</param> 

        </hardware>
        <joint name="rl_hip">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control> 


    <ros2_control name="quadruped_hardware/CANMotorDriver_RLK" type="system">
        <hardware>
            <plugin>quadruped_hardware/CANMotor</plugin>
            <param name="joint_name">rl_knee</param> 
            <param name="can_bus" >can1</param>
            <param name="can_id" >17</param>
            <param name="flip" >true</param>
            <param name="effort_limit" >12.0</param>
            <param name="command_type" >radian</param> 
            <param name="frequency" >50.0</param>  
            <param name="zero_position_offset" >0.0</param>
            <param name="min_position_limit" >-4.0</param>
            <param name="max_position_limit" >0.02</param> 

        </hardware>
        <joint name="rl_knee">
            <command_interface name="position"/>
            <command_interface name="velocity"/>
            <command_interface name="effort"/>
            <command_interface name="kp"/>
            <command_interface name="kd"/>
            <command_interface name="m_state"/>
            <command_interface name="flip"/>
            <state_interface   name="position"/>
            <state_interface   name="velocity"/>
            <state_interface   name="effort"/>
            <state_interface   name="m_state"/>
            <state_interface   name="flip"/>
        </joint>
    </ros2_control>    -->

     
</robot>