<?xml version="1.0" encoding="utf-8"?>
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include all component files -->
  <xacro:include filename="$(find quadruped_urdf)/urdf/properties.xacro"/>
  <xacro:include filename="$(find quadruped_urdf)/urdf/materials.xacro"/>
  <xacro:include filename="$(find quadruped_urdf)/urdf/body.xacro"/>
  <xacro:include filename="$(find quadruped_urdf)/urdf/leg.xacro"/>
  <xacro:include filename="$(find quadruped_urdf)/urdf/sensors.xacro"/>
  <xacro:include filename="$(find quadruped_urdf)/urdf/gazebo.xacro"/>

  <!-- Main body and components -->
  <xacro:body/>

  <!-- Legs -->
  <xacro:leg prefix="fr" parent="Body">
    <origin xyz="-0.15605 -0.1796 0" rpy="1.5708 ${init_pos_yaml['initial_joint_positions']['fr_hip']} 1.5708"/>
  </xacro:leg>
  <xacro:leg prefix="fl" parent="Body">
    <origin xyz="0.15605 -0.1796 0" rpy="1.5708 ${init_pos_yaml['initial_joint_positions']['fl_hip']} -1.5708"/>
  </xacro:leg>
  <xacro:leg prefix="rl" parent="Body">
    <origin xyz="0.15605 0.1796 0" rpy="1.5708 ${init_pos_yaml['initial_joint_positions']['rl_hip']} -1.5708"/>
  </xacro:leg>
  <xacro:leg prefix="rr" parent="Body">
    <origin xyz="-0.15605 0.1796 0" rpy="1.5708 ${init_pos_yaml['initial_joint_positions']['rr_hip']} 1.5708"/>
  </xacro:leg>

</robot>