<?xml version="1.0"?>
<robot name="Edward" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rl12dof_ros2_control" params="">

    <ros2_control name="leg_system" type="system">

      <hardware>
        <!-- SIMULATION plugin, will change for hardware-->
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <!-- Joint 1 -->
      <joint name="link1_to_base">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- Joint 2 -->
      <joint name="link2_to_link1">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- Joint 3 -->
      <joint name="link3_to_link2">
        <command_interface name="position"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
