<?xml version="1.0" encoding="utf-8"?>
<robot name="quadruped" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include all component files -->
  <xacro:include filename="$(find rl12dof_urdf_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find rl12dof_urdf_description)/urdf/rl12dof_links_joints_hardware.xacro" />
  <xacro:include filename="$(find rl12dof_urdf_description)/urdf/rl12dof_ros2_control.xacro"/>

  <xacro:rl12dof_links_joints />
  
</robot>